
header {
    height: 65px;
    padding: 5px;
    background-color: bisque;
}
.nav-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 25px;
    border: 1px solid black;
}

main {
    padding: 50% 20px;
    height: 400px;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 1;
    padding: 20px;
}
.aside {
    flex-basis: 20%;
}
.article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article h2{
    background-color: bisque;
}

footer {
    height: auto;
    padding: 10px;
    background-color: antiquewhite;

}

footer {
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .nav-container, .aside{
        display: none;
    }
    .container {
        flex-direction: column;
    }
    .column{
        width: 100%;
        padding: 20px;
    }
    .article{
        margin-bottom: 20%;
    }
    .article h2 {
        margin-bottom: 10px;
    }

    header.class {
        border: 1px solid black;
    }
    main {
        border: 2px solid black;
    }
    footer.class {
        border:1px solid black;
    }
}
